

#Intro-section{
    padding-top: 12%;
    width:63%;
    height:450px;
    /* border: 1px solid red; */
     margin: auto; 
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   /* align-items: center; */
   text-align: center;
} 
#Intro-section>div:nth-child(1){
    display: flex;
    justify-content: center;
    gap:20px;
    /* border: 1px solid red; */

}
#Intro-section  h1{
    font-size: 47px;
    font-family: geomanist-regular, sans-serif;
    line-height: 56px;
    font-weight:300;
    color:hsl(0,0%,20%)
}
#Intro-section  h3{
    font-size: 22px;
    font-family: geomanist-regular, sans-serif;
    line-height: 29px;
    color: 
#767676;
}


#Intro-section ul{
    display: flex;
    list-style: none;
    gap:10px;
    font-size:16px ;
    color: #efbc45 ;
}
#email{
    padding:20px 80px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#Intro-section  button{
    padding: 21px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #57bb71;
    border-radius: 4px;
    border:none;
    color:white
    
}


    #googlesignup{   
     display: flex;
    justify-content: center;
    /* align-items: center; */
    gap:10px;
    /* border: 1px solid black; */
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    height:30px;
  color: RGB(118, 118, 118) ; 

}
#Intro-section span{
    /* margin-bottom: 6px; */
}
#inputs{
    display:flex;
    gap:20px;
    justify-content:center;
   
}
#Intro-section img{
    height:100%
}
#error{
    color: red;
}


footer{
/* padding-top: 12%; */
margin-top:  100px;
width:100%;
height:700px;
/* border:1px solid red; */
display :flex;
flex-direction:column;
justify-content:center;
align-items:center;
background-color:#151616


}
.container{
margin: auto;
width:85%;
Height:65%;
/* border:1px solid black; */


}
.footer-bottom{
width:80%;
height:20%;
display: flex;
justify-content: space-between;
}
.footer-bottom>div:nth-child(1){
display: flex;
gap: 10px;
color: #FFFFFF;
     font-weight:500;
     font-family: geomanist-regular, sans-serif;
     font-size:14px
}
.footer-bottom a{
text-decoration: none;
color: #FFFFFF;
     font-weight:500;
     font-family: geomanist-regular, sans-serif;
     font-size:14px
     
}
.footer-bottom>div:nth-child(2) a{

font-size: 20px;

margin-right: 5px ;

}
.footer-bottom>div:nth-child(2) a :hover{
filter:blur(3px);
opacity:.5;
transform: scale(.98);
box-shadow:none;
transition: all 0.3s linear;
}


*{
margin:0;
padding:0;

}
.row{
display: flex;
/* border:1px solid blue */
}
footer ul {
list-style: none;
/* border:1px solid rgb(177, 20, 143); */
margin-top: 20px;



}
.row>div{
width:20%;
/* border:1px solid green; */

}
.row img{
    width:40%;
    height:40%
}
.row ul li:not(:last-child){

    margin-bottom: 10px;
    
}
 
.row h4 ::before{
    content: '';
    position:absolute;
    left:0;
    bottom:-10px;
    height:2px;
    box-sizing: border-box;

}
.row h4{
    color:#929393;
    /* font-weight:500; */
     font-family: geomanist-regular, sans-serif;
     font-size: 16px;

}
.row a{
    font-size: 14px;
    line-height: 32px;
    /* text-transform: capitalize; */
    text-decoration: none;
     color: #FFFFFF;
     font-weight:500;
     font-family: geomanist-regular, sans-serif;
    
}

#benefits{
    padding-top: 12%;
    margin:auto;
    width:85%;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 200px;
    /* border: 1px solid red; */
}
#benefits>div{
    /* border:1px solid yellow */
}
#benefits>div:nth-child(1){
    /* border:1px solid yellow */

    display: flex;
    flex-direction: column;
    justify-content:space-around;
    /* align-items:flex-start */
    padding-left: 20px;
}
#benefits h1{
    /* font-size: 47px; */
    font-family: geomanist-regular, sans-serif;
    /* line-height: 56px; */
    font-weight:300;
    color:hsl(0,0%,20%)

}
#benefits h3{

    /* font-size: 47px; */
    font-family: geomanist-regular, sans-serif;
    /* line-height: 56px; */
    font-weight:300;
    color:#767676;
}
#benefits input{
     padding:15px 80px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
} 
#benefits  button{
    padding: 16px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #57bb71;
    border-radius: 4px;
    border:none;
    color:white
    
}
.b_inputs{
    display: flex;
    gap :20px
}
#benefits>div:nth-child(2)>ul{
     font-size: 18px;
     font-family: geomanist-regular, sans-serif;
    /* line-height: 56px; */
    font-weight:300;
    
    color:#333333 ;

}
#benefits ul li:not(:last-child){

margin-bottom: 10px;
list-style:disc;
/* font-size: 30px; */


}
#review{
padding-top:12%;
width: 85%;
margin: auto;
/* border: 1px solid red; */
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: 600px;

/* gap:20px */

}
#review>div{
/* border: 1px solid rgb(78, 33, 182); */
/* margin-left: 20px; */
}
.left>h1{
font-family:geomanist-book, sans-serif;
font-size:36px;
font-weight: 500;
line-height: 43px;
margin :0px 0px 64px
}
.left>div{
display:grid;
grid-template-columns: 20% 80%;
/* grid-template-rows: ; */
}
.left>div:nth-child(1){

}
.left p{
font-size:18px;
font-family: geomanist-regular, sans-serif;
color:#33333f;
line-height:25px

}
.right{
margin:50px;
}
.quote{
font-size: 50px;
margin-left: 20px;
color:#d7f3e3;
}