body{
    padding: 0;
    margin:0;
    font-family:geomanist-regular, sans-serif;
    
    

}
*{
    /* scroll-margin-top: 20px; */
  
}

.navbar{
    padding-top: 24px;
    height:60px;
    /* border: 1px solid black; */
    width:100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #636161;
    
    /* align-items:center; */
    
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
    /* z-index: 1; */
    
}
#left_icons a:hover{
    font-weight: bold;
    transition: all 1s;
}
#right_icons>a:hover{
    font-weight: bold;  
}
.boxshadow_navbar{
    transition: all 1s;
    padding-top :0px;
    
    /* align-items:center; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

   
    
}



#left_icons{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    width:40%;
    align-items: center;
    
}
#left_icons a {
    text-decoration: none;
    color:#636161
}
#left_icons>div >a{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    width:110%;
    /* margin-left: 10px; */

}
#left_icons>div>a>button{

    padding: 4px 8px;
    /* height: 30%; */
    font-size: 12px;
    font-family:geomanist-regular, sans-serif;
    background-color: #57bb71;
    border-radius: 4px;
    border:none;
    color:white
}

#logo{
    /* height:0%; */
    width:25%;
    /* border: 1px solid green; */
}

#left_icons a>img{
    width:100%;
    /* margin-left: 20px; */
    
}
#right_icons{
    display: flex;
    /* justify-content: space-a; */
    width:15%;
    /* border: 1px solid red; */
    align-items: center;
    /* height:50%; */
    
}
#right_icons button{
    padding: 8px 15px ;
    /* height: 50%; */
    font-size: 16px;
    line-height: 24px;
    color: #636161;
    background-color: white;
    border:none;
    font-family:geomanist-regular, sans-serif;
    transition: all1 1s;
    
}
#right_icons >a:nth-child(2)>button{
    background-color: #57bb71;
    border-radius: 5px;
    border:none;
    color:white
}
#right_icons >a:nth-child(1)>button:hover{
    font-weight: bold;
}



@media all and (min-width:150px) and (max-width:838px){
   


    

}