
body{
  
}
  

#pricing_sec{
    margin-top: 10%;
    /* border:1px solid red */
   
}

#pricing_sec>h1{
    font-family:geomanist-regular, sans-serif; 
    text-align: center;
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;

}
#pricing_sec>h3{
    font-family:geomanist-regular, sans-serif; 
    text-align: center;
    font-size: 25px;
    line-height: 20px;
    font-weight: 400;
    color:  #767676;

}
#plan-switcher{
    /* display: flex; */
    /* justify-content: center; */
    /* border:1px solid red; */
    margin:0px 50% 0px 50%
}
#price_plan{
    height:600px;
    width:90%;
    margin:auto;
    /* border:1px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:100% ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#price_plan>div{
    /* border:1px solid red; */
    margin: 5px 10px 20px 10px;
    
} 
.ruler{
    margin: 5px 10px 20px 10px;
    border-top: 4px solid  #b1b0b0;;
   width: 90%;

}
#price_plan button{
    padding: 10px 60px;
    font-size: 18px;
    background-color:#57bb71 ;
    color:white;
    border:none;
    border-radius: 2px;
}
#price_plan li{
    list-style-type: style check;;


}

#FAQ_sec{
    padding-top: 50px;
    height:600px;
    width:90%;
    margin:auto;
    border:1px solid red;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows:100% ;
    
   
    
}

#FAQ_sec h2{
    font-family:geomanist-regular, sans-serif; 
    /* text-align: center; */
    font-size: 35px;
    line-height: 50px;
    font-weight: 400;

}
#FAQ_sec h3{
    
    font-family:geomanist-regular, sans-serif; 
    /* text-align: center; */
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color:  #767676;
}

    #benefits{
    padding-top: 10%;
    margin:auto;
    width:90%;
    display: grid;
    grid-template-columns: 65% 35%;
    /* grid-template-rows: 300px; */
    /* border: 1px solid red; */
}
#benefits>div{
    /* border:1px solid yellow */
}
#benefits>div:nth-child(1){
    /* border:1px solid yellow */

    display: flex;
    flex-direction: column;
  row-gap: 15px;
    align-items:center;
    padding-left: 20px;
}
#benefits h1{
    /* font-size: 47px; */
    font-family: geomanist-regular, sans-serif;
    /* line-height: 56px; */
    font-weight:300;
    color:hsl(0,0%,20%)

}
#benefits h3{

    /* font-size: 47px; */
    font-family: geomanist-regular, sans-serif;
    /* line-height: 56px; */
    font-weight:300;
    color:#767676;
}
.b_inputs{
    /* width:80%; */
    margin: auto;
     /* padding:20px 80px; */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap :20px;
    /* border:1px solid red; */
    justify-content: center;
} 
.b_inputs button{
    padding: 16px 100px 16px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #57bb71;
    border-radius: 4px;
    border:none;
    color:white
    
}
.b_inputs input{
    padding: 16px 100px 16px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    border-radius: 4px;
    /* border:no?ne; */
    color:white
    
}

#benefits>div:nth-child(2)>ul{
     font-size: 18px;
     font-family: geomanist-regular, sans-serif;
    /* line-height: 56px; */
    font-weight:300;
    
    color:#333333 ;

}
#benefits ul li:not(:last-child){

margin-bottom: 10px;
list-style:disc;
/* font-size: 30px; */


}
#googlesignup a{
  
 display: flex;
justify-content: center;
align-items: center;
gap:10px;
/* border: 1px solid black; */
font-size:16px;
font-family: Arial, Helvetica, sans-serif;
height:30px;
color: RGB(118, 118, 118) ; 
text-decoration: none;

}
#googlesignup a:hover{
text-decoration: underline;
}
#googlesignup img{
    height:100%
}


